.catalog_wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.filters_catalog {
	width: 30%;
}
.catalog_products {
	width: 70%;
}
.catalog_container {
	width: 100%;
}
.filters_display_line {
	transition: all ease 0.3s;
}
.catalog_filter_applied {
	display: inline-flex;
	background: rgba(86, 149, 135, 0.9);
	padding: 6px 12px;
	width: auto;
	color: #fff;
	transition: all ease 0.3s;
	margin-bottom: 10px;
	border-radius: 18px;
}
.catalog_filter_applied img {
	margin-left: 5px;
	cursor: pointer;
}
.filter_item {
}
.filter_open {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 15px;
	cursor: pointer;
}
.filter_open::after,
.sort_text::after {
	content: url('../images/arrow-down.svg');
	position: relative;
	top: 4px;
	display: inline-block;
	left: 3px;
	transition: all ease 0.3s;
}
.filters_text {
	/* height: 18px; */
	display: flex;
	align-items: center;
}
.filters_text::after {
	content: url('../images/filters.svg');
	position: relative;
	top: 4px;
	display: inline-block;
	left: 3px;
	/* height: 18px; */
	transition: all ease 0.3s;
}
.filters_sorting {
	width: 150px;
	border: 1px solid #4f4f4f;
	box-sizing: border-box;
	border-radius: 8px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-bottom: 35px;
	margin-right: 15px;
}
.open_f::after {
	top: 2px;
	transform: rotate(180deg);
}
.filter_content {
	transition: max-height ease 0.5s;
	max-height: 0;
	overflow: hidden;
}
.expanded_f {
	max-height: 500px;
}
.breadcrumb {
	margin-bottom: 60px;
}

.filter_cb_container {
}
.filter_checkbox {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.filter_checkbox label {
	cursor: pointer;
	margin-right: 10px;
}
.filter_checkbox input[type='checkbox'] {
	height: 20px;
	width: 20px;
	margin-right: 10px;
	-webkit-appearance: none;
	border: 1px solid #c4c4c4;
	cursor: pointer;
	border-radius: 3px;
}
.filter_checkbox input[type='checkbox']:checked {
	border: none;
	background-color: rgba(86, 149, 135, 0.9);
	position: relative;
}
.filter_checkbox input[type='checkbox']:checked::after {
	position: absolute;
	display: block;
	content: url('../images/check.svg');
	top: 2px;
	left: 2px;
	right: 0;
	bottom: 0;
}

.multi-range {
	position: relative;
	height: 40px;
	margin: 30px 0;
}
.multi-range input[type='range']:nth-child(1)::-webkit-slider-thumb::before {
	background-color: #808080;
}
.multi-range input[type='range']:nth-child(2) {
	background: none;
}
.multi-range input[type='range']:nth-child(2)::-webkit-slider-thumb::before {
	background-color: #808080;
}
.multi-range input[type='range']::-moz-range-track {
	background: none;
}
.filters_sorting:nth-child(2) {
	display: none;
}
input[type='range'] {
	position: absolute;
	width: 80%;
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	background: linear-gradient(#569587, #569587) no-repeat center;
	background-size: 100% 2px;
	appearance: none;
	pointer-events: none;
}
input[type='range']:active,
input[type='range']:focus,
input[type='range']::-moz-focus-outer {
	border: none;
	outline: none;
}
input[type='range']::-moz-range-thumb {
	position: relative;
	height: 16px;
	width: 16px;
	margin: 5px 0;
	border-radius: 50%;
	background-color: #fff;
	border: 1.5px solid rgba(86, 149, 135, 0.9);
	appearance: none;
	cursor: grab;
	pointer-events: all;
}
input[type='range']::-moz-range-thumb:hover {
	background-color: #deddee;
}

input[type='range']::-webkit-slider-thumb {
	position: relative;
	height: 16px;
	width: 16px;
	margin: 5px 0;
	border-radius: 50%;
	background-color: #fff;
	border: 1.5px solid rgba(86, 149, 135, 0.9);
	appearance: none;
	pointer-events: all;
	cursor: grab;
}
input[type='range']::-webkit-slider-thumb:hover {
	background-color: #deddee;
}
.price {
	display: flex;
	font-size: 14px;
	align-items: center;
}
.price span {
	font-size: 14px;
	display: block;
	margin: 0 10px;
}
.price input {
	width: 35%;
	text-align: center;
	border: 1px solid #4f4f4f8c;
	font-size: 14px;
	height: 40px;
	border-radius: 8px;
	color: #c4c4c4;
}
@media screen and (max-width: 768px) {
	.filters_catalog,
	.filters_display_line {
		display: none;
	}
	.catalog_products {
		width: 100%;
	}
	.filters_sorting:nth-child(2) {
		display: flex;
	}
}
@media screen and (max-width: 360px) {
	.filters_sorting {
		width: 130px;
		margin: 0 3px;
		line-height: 18px;
		padding: 0 5px;
		font-size: 12px;
	}
}
